src/main/resources/wsdl/dataset.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sch="http://www.yuelchen.com/soap/dataset"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.yuelchen.com/soap/dataset"
                  targetNamespace="http://www.yuelchen.com/soap/dataset">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                elementFormDefault="qualified" targetNamespace="http://www.yuelchen.com/soap/dataset">

            <xsd:element name="DatasetRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="datasetName" type="xsd:string"/>
                        <xsd:element name="datasetDescription" type="xsd:string"/>
                        <xsd:element name="datasetFieldsCount" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="DatasetResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="isCreated" type="xsd:boolean"/>
                        <xsd:element name="datasetName" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="creationDate" type="xsd:date"/>
                        <xsd:element maxOccurs="unbounded" name="creationIssue" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </schema>
    </wsdl:types>

    <wsdl:message name="DatasetRequest">
        <wsdl:part element="tns:DatasetRequest" name="DatasetRequest"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="DatasetResponse">
        <wsdl:part element="tns:DatasetResponse" name="DatasetResponse"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="Dataset">
        <wsdl:operation name="Dataset">
            <wsdl:input message="tns:DatasetRequest" name="DatasetRequest"></wsdl:input>
            <wsdl:output message="tns:DatasetResponse" name="DatasetResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="DatasetSoap11" type="tns:Dataset">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Dataset">
            <soap:operation soapAction=""/>
            <wsdl:input name="DatasetRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DatasetResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="DatasetService">
        <wsdl:port binding="tns:DatasetSoap11" name="DatasetSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>